force-app/main/default/flows/OCR_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>DeleteOCR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>deleteOCR</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>DeleteOCR</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ocr</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>OpportunityContactRole</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>ocr</name>
            <value>
                <elementReference>myCollection_myRule_1_A1ocr</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvokeFlowRecordLookup_myRule_1_A1ocr</targetReference>
            </connector>
            <label>Contact is Minor &amp; Role is Household Member</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISPICKVAL([OpportunityContactRole].Role, &quot;Household Member&quot;) &amp;&amp; 

(NOT(ISBLANK([OpportunityContactRole].Contact.Age__c)) &amp;&amp;  [OpportunityContactRole].Contact.Age__c &lt;= 19)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!myVariable_current.Role}, &quot;Household Member&quot;) &amp;&amp; 

(NOT(ISBLANK({!myVariable_current.Contact.Age__c})) &amp;&amp;  {!myVariable_current.Contact.Age__c} &lt;= 19)</expression>
    </formulas>
    <interviewLabel>OCR_Created-1_InterviewLabel</interviewLabel>
    <label>OCR Created</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>OpportunityContactRole</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordLookups>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[OpportunityContactRole].Contact.ContactId</stringValue>
            </value>
        </processMetadataValues>
        <name>myInvokeFlowRecordLookup_myRule_1_A1ocr</name>
        <label>myInvokeFlowRecordLookup_myRule_1_A1ocr</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>myCollection_myRule_1_A1ocr</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
    </recordLookups>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myCollection_myRule_1_A1ocr</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
